{{ define "main" }}
<header class="page-header">
    <h1>{{.Title}}</h1>
</header>
<div class="row-fluid navmargin">
    <div class="span9 bs-docs-sidebar">
    <!-- "{{.Content}}" pulls from the markdown content of the corresponding _index.md -->
    {{.Content}}
    <ul>
<!-- Ranges through content/posts/*.md -->
{{ range .Pages }}
    <li>
        <a href="{{.Permalink}}">{{.Title}}</a>
    </li>
{{ end }}
    </ul>
    </div>
    <div class="span3 bs-docs-sidebar">
        <h1>{{ i18n "categories" }}</h1>
        <ul class="nav nav-list bs-docs-sidenav">
            {{ partial "categories.html" .}}
        </ul>
        <p></p>
        <h1>{{ i18n "tags" }}</h1>
        <ul class="nav nav-list bs-docs-sidenav">
            {{ partial "tags.html" .}}
        </ul>
    </div>
</div>
{{ end }}

