{{ define "main" }}

<header class="jumbotron subhead" id="overview">
    <p class="lead">
        <span>&gt;&gt;</span>
        <a href="{{ .Site.BaseURL }}/">Home</a>
        {{ range (.GetTerms "categories") }}<span class="divider">/</span>
        <a class="category" href="{{ .Permalink }}">{{ .LinkTitle }}</a>{{ end }}
        <span class="divider">/</span>
        {{ range (.GetTerms "tags") }}<a class="tag" href="{{ .Permalink }}">{{ .LinkTitle }}</a> {{ end }}
    </p>
    <div class="page-header"><h1>{{ .Title }}</h1></div>

    <p class="text-right">
        <span class="label label-success">&becaus;
        {{ range (.GetTerms "authors") }}{{ .LinkTitle }}{{ end }}
        </span>
        <span class="label label-success">&there4; {{ .Date.Format "Mon, Jan 2, 2006" }}</span>
    </p>
</header>

<div class="row-fluid navmargin">
    <div class="span9 bs-docs-sidebar">
    {{ .Content }}
    </div>
    <div class="span3 bs-docs-sidebar">
        <h1>{{ i18n "categories" }}</h1>
        <ul class="nav nav-list bs-docs-sidenav">
            {{ partial "categories.html" .}}
        </ul>
        <p></p>
        <h1>{{ i18n "tags" }}</h1>
        <ul class="nav nav-list bs-docs-sidenav">
            {{ partial "tags.html" .}}
        </ul>
    </div>
</div>
{{ end }}
